.background-info {
    margin-top: 150px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-info .drop-down {
    width: 40px;
    height: 17px;
    position: relative;
    right: 1px;
    top: 1px;
    border-radius: 6px;
    background-color: #FFFFFF;
    padding: 8px 13px;
}

.background-info label {
    position: relative;
    display: flex;
}

.background-info .back {
    margin: 0;
    position: absolute;
    top: -5px;
    right: 200px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}

.background-info h1 {
    margin-bottom: 10px;
    position: relative;
    left: -215px;
}

.background-info .content {
    width: 600px;
    /* height: 823px; */
    background: #FFFFFF;
    z-index: 2;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 15px 47px 15px;
}


.background-info input, .background-info select {
    border: none;
    outline: none;
    height: 42px;
    padding: 0 10px;
    background-color: #EBEBEB;
    border-radius: 10px;
}

.background-info select {
    /* padding: 0 25px; */
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.background-info .info {
    display: block;
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
}

.background-info .full-name div {
    height: 35px;
    /* margin-bottom: 15px; */
    box-sizing: border-box;
}

.background-info .full-name div input {
    width: 96.5%;
    height: 42px;
    background-color: #EBEBEB;
    border-radius: 10px;
}

.background-info .birth-gen {
    display: flex;
    column-gap: 50px;
}

.background-info .birth-gen .date-of-birth{
    width: 60%;
}

.background-info .birth-gen .date-of-birth input{
    width: 100%;
    /* padding: 0 10px; */
    /* height: 35px; */
}

.background-info .birth-gen .gender {
    width: 40%;
}

.background-info .birth-gen .gender select {
    width: 100%;
}

.background-info .birth-gen .gender label {
    display: flex;
}

.background-info .birth-gen .gender .drop-down {
    transform: translateX(-100%);
    position: absolute;
    top: 4px;
    right: -65px;
}

.background-info .email input {
    width: 100%;
}


.background-info .phone-wrap {
    display: flex;
    column-gap: 28px;
}

.background-info .phone-wrap .left {
    width: 35%;
    height: 42px;
    background-color: #EBEBEB;
    display: flex;
    align-items: center;
    column-gap: 19px;
    border-radius: 10px;
}

.background-info .phone-wrap .left span {
    margin-left: 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.background-info .phone-wrap .left .flag {
    height: 25px;
    width: 45px;
    border: 1px solid black;
    border-radius: 5px;
}

.background-info .phone-wrap .left .drop-down {
    right: -2px;
    bottom: 1px;
}

.background-info .phone-wrap .right {
    width: 57%;
}

.background-info .phone-wrap .right input {
    width: 100%;
}

.background-info .nationality select {
    width: 100%;
}

.background-info .nationality .drop-down {
    position: absolute;
    top: 4px;
    right: 3px;
}

.background-info .residence select {
    width: 100%;
}

.background-info .residence .drop-down {
    position: absolute;
    top: 4px;
    right: 3px;
}

.background-info .state-postal {
    display: flex;
    column-gap: 35px;
}

.background-info .state-postal .state {
    width: 55%;
}

.background-info .state-postal .state select{
    width: 100%;
}

.background-info .state-postal .state .drop-down {
    position: absolute;
    top: 4px;
    right: 3px;
}

.background-info .state-postal .postal {
    width: 36%;
}

.background-info .state-postal .postal input {
    width: 100%;
}

.background-info .skip-next {
    display: flex;
    /* justify-content: space-between; */
    margin-top: 15px;
    align-items: center;
}

.background-info .skip-next button{
    height: 42px;
    background-color: #0D2C58;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 100px;
    width: 350px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
}

.background-info .mbbs {
    display: flex;
    margin-top: 30px;
    margin-bottom: 40px;
    justify-content: space-between;
}

.background-info .mbbs > div {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
}

.background-info .mbbs .radio {
    height: 23px;
    width: 23px;
    border-radius: 50%;
    background-color: #EBEBEB;
    cursor: pointer;
    margin-right: 10px;
}

.background-info .mbbs .radio-color {
    background-color: #0D2C58;
}

.background-info .skip-next span {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.background-info .under-one {
    position: absolute;
    top: 30px;
    right: 140px;
}

.background-info .under-two {
    position: absolute;
    bottom: 20px;
    left: 80px;
}