.signup {
  width: 100%;
  background-color: #0d2c58;
  display: flex;
}

.signup .s-img {
  min-height: 100vh;
  width: 60%;
  background-image: url(../../../assets/School/images/side-img.png);
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (min-width: 1600px) {
  .signup .s-img {
    background-image: url(../../../assets/School/images/side-img.png);
  }
}

.signup .s-img img {
  height: 100%;
  width: 100%;
}

.signup .s-content {
  width: 40%;
  padding: 5rem 3rem;
}

.signup .s-content-wrapper {
  width: 100%;
}

.signup .logo {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  color: #fff;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 38px;
  cursor: pointer;
}

.signup .login-signup {
  display: flex;
  gap: 2rem;
  padding: 1rem 0 1rem 3rem;
}

.signup .login-signup button {
  background: 0;
  outline: 0;
  border: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}

.signup .form-div {
  padding: 2rem 2.5rem 2.5rem 2.5rem;
  background: #fff;
  border-radius: 30px;
  position: relative;
}

.signup .form-div .caret {
  width: 0;
  height: 0;
  position: absolute;
  top: -15px;
  left: 55px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;

  border-bottom: 15px solid #fff;
}

.signup .form-div .signup-caret {
  left: 130px;
}

.signup .form-div input {
  width: 100%;
  outline: none;
  padding: 1rem;
  border: 1px solid #8696ac;
  border-radius: 10px;
  margin: 0 0 1rem 0;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
}

.signup .form-div .signin-login {
  width: 100%;
  border-radius: 10px;
  padding: 1rem 0;
  background-color: #0d2c58;
  color: #fff;
  border: none;
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
}

.signup .form-div p {
  margin: 0 0 1rem 0;
}

.signup .or {
  display: flex;
  margin: 2rem 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.signup .or .h-line img {
  height: auto;
}

.signup .or .h-line {
  width: 25px;
  width: fit-content;
  display: flex;
  align-items: center;
}

.signup .opts-wrapper {
  padding: 0 0 2rem 0;
}

.signup .sign-in-opts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* height: 32px; */
  color: #fff;
  padding: 0 0 0 2rem;
  margin: 1rem 0 0 0;
  background-color: #8696ac;
  border-radius: 10px;
  cursor: pointer;
}

.signup .sign-in-opts .img {
  width: 60px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border: 2px solid #8696ac;
  border-radius: 10px;
}

.signup .agreement {
  display: flex;
  gap: 0.5rem;
  padding: 0 0 1rem 0;
}

.signup .agreement input {
  width: auto;
}

.signup .agreement p {
  color: #000;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.signup .agreement a {
  color: #0d2c58;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline;
}

.signup .switch {
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  padding: 1rem 0 2rem 0;
}

.signup .switch button {
  background: 0;
  border: 0;
  outline: 0;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  color: #0d2c58;
  cursor: pointer;
}
